<%#
# created by tapan. Last modified on 04/05/2012
# This is view page for showing a specified user
%>

<div>
 <%= @user.name %>
</div>
<div>
  <strong>Name:</strong> <%= @user.name %>&nbsp;<%= link_to 'Go Back ', :back %><br />
</div>
