<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% form_for(@gallery, :html => { :multipart => true }) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <b> Picture </b><br/>
    <%= f.file_field :image %>
  </div>
  
  <p><%= f.submit %></p>
<% end %>
