<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1>Edit Image Gallery</h1>

<%= render 'form' %>

<%= link_to 'Show', @gallery %> |
<%= link_to 'Back', galleries_path %>

