<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%#
# created by tapan. Last modified on 04/05/2012
# This is view page for creating new user
%>

<h1>Create Gallery Here</h1>
<%= form_for(@gallery) do |f| %>
<div>
<%= f.label :name %><br />
<%= f.text_field :name %>
</div>

<div class="actions">
<%= f.submit "Create" %>
</div>
<% end %>



